:root {
  --color-primary: #1F2A44;
  --color-accent: #FF9800;
  --color-bg: #F5F1EB;
  --color-text: #333333;
  --color-white: #ffffff;
  --color-muted: #6c757d;
  --color-hover: #f0f0f0;
  --font-main: 'Poppins', sans-serif;
}

body {
  margin: 0;
 /* padding: 70px 0 0;*/
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}

header {
  /*margin-top: 0;*/
  z-index: 1000;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-muted);
  text-align: center;
  padding: 1rem 0;
}

